body {
  width: 100vw;
  margin: 0;
}

#message_container {
  margin: 5px auto 10px auto;
  width: 90%;
  height: 400px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: scroll;
}

#message_container div:nth-last-child(odd) {
  background-color: #ccc;
}

#message_container div:nth-last-child(odd) {
  background-color: #eee;
}

#message_div {
  margin: 5px auto;
  width: 90%;
  text-align: center;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
}

.input-div {
  margin: auto;
  width: 90%;
}

.input_field {
  width: 75%;
  margin: 0 0 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}

button {
  padding: 2px 7px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #ccc;
  font-weight: bold;
  cursor: pointer;
}
